*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-color:white;
}


.navbanner{
    width: 100%;
    height: auto;
    background-image:linear-gradient(rgba(250, 250, 250, 0.5), rgba(0, 0, 0, 0.8)),  url("images/DeWatermark.ai_1744798496722.png");
    background-size: 100vw 110vh;
}

/* ..............navbar.................. */

.navbar-container{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    position: fixed;
    top: 0;
    z-index: 100;
}
.navbar-container.scrolled {
    background-color: white; /* New color on scroll */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #39aab0;
}

.navlogo-section{
    width: auto;
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
}
.navlogo-section img{
    width: 200px;
}
.navbar-container label {
    display: none;

}
#checking{
    display: none;
}
.navbar-container label {
    display: none;
}

.nav-items {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: color 0.3s ease;
}
.navbar-container.scrolled .nav-items a{
    color:black; /* Custom text color inside navbar on scroll */
}
.nav-items a{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    /* color: white; */
    color: white;
    text-decoration: none;
}

.nav-items button{
    width: 200px;
    border-radius: 25px;
    height: 50px;
    background-color: white;
    color:rgb(166,144,51);
    font-size: 1rem;
    border: none;
    font-family: "Poppins", sans-serif;
}

.navbar-container.scrolled  button{
    background-color: rgb(6,42,64);
}


/* ..............banner................. */


.banner {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-top: 8%;
    padding-right: 55%;
    gap: 15px;
    background-repeat: no-repeat;
    color: white;
}
.banner h1{
    font-size: 3.6rem;
    font-family: "Mako", sans-serif;
    animation: moveUpDown 2s ease-in-out infinite;
}
.banner span{
    font-size: 4rem;
}
.banner p{
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    animation: moveUpDown 4s ease-in-out infinite;
}
.banner button{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 1rem;
    border: none;
    font-family: "Poppins", sans-serif;
    background-color:rgb(166,144,51) ;
    color: white;
    animation: moveUpDown 6s ease-in-out infinite;
}

@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }


  /* .............about................. */

.about-container{
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.about-container img{
    width: 700px;
}

.about-cont{
    width: 50%;
    height: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: aliceblue; */
    /* margin-top: 5%; */
}
.about-cont span{
    color:rgb(166,144,51); 
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    letter-spacing: 2px;
}
.about-cont h2{
    font-size: 3rem;
    font-family: "Mako", sans-serif;
    color: rgb(6,42,64);
    margin-top: 2%;
}
.about-cont p{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: rgb(6,42,64);
    text-align: justify;
}

.about-cont button{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 1rem;
    border: none;
    font-family: "Poppins", sans-serif;
    background-color: rgb(166,144,51);
    color: white;
}



/* ..............services................... */

.servicepage-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

.service-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 5%;
    padding-bottom: 3%;
    /* background-color: aqua; */
}
.service-title span{
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    /* color:rgb(255,190,46); */
    text-transform: uppercase;
    color: rgb(166,144,51);
    letter-spacing: 2px;
}
.service-title h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    font-family: "Mako", sans-serif;
    /* margin-bottom: 2%; */

}
.service-container{
    width: 100%;
    padding: 5%;
    padding-top: 1%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}
.services{
    width: 100%;
    height: 350px;
    padding: 5%;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 3px solid  rgb(166,144,51);
    color: rgb(166,144,51);
}
.services img{
    width: 70px;
}

.services h3{
    font-size: 1.8rem;
    font-family: "Mako", sans-serif;
    margin-top: 5%;
    font-weight: 500;
}
.services p{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
    line-height: 25px;
}

.services:hover{
    color: rgb(6,42,64);
}

.servicepage-container button{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    font-size: 1rem;
    border: none;
    font-family: "Poppins", sans-serif;
    background-color:rgb(6,42,64) ;
    color: rgb(166,144,51);
    margin-bottom: 2%;
}


/* ....................why.............. */

.why-container{
    width: 100%;
    padding: 5%;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* background-color: beige; */
    gap: 20px;
}
.why{
    width: 100%;
    height: 300px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    /* background-color: black; */
    gap: 5px;
}
.why img{
    width: 60px;
}
.why h3{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Mako", sans-serif;
}
.why p{
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    color:black;
}

